# pandas
# numpy
# requests
# python-dotenv
# hopsworks
# pywin32==311; sys_platform == "win32"
# pymongo[srv]

streamlit
pandas
numpy
plotly
pymongo[srv]
scikit-learn
xgboost
joblib
shap
python-dotenv